.container {
    width: 90%;
    min-width: fit-content;
    max-width: 300px;
    min-height: 100px;
    margin: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 200px;
    

    cursor: pointer;
    border: none;
    

    background-color: #ffffff17;
    border-radius: 15px;
}